body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

* {
  font-size: 18px;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
}

.logo-div {
  padding: 0;
  display: inline-block;
  position: relative;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
}

.logo > img {
  width: 40px;
}

.tasks {
  float: right;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  list-style: none;
}

.tasks li {
  float: left;
  margin: 0 10px;
}

.tasks a {
  display: block;
  padding: 20px 30px;
  text-align: center;
  background-color: blueviolet;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.base-block {
  display: block;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 1, 1); 
  padding: 230px;
  margin: 0 auto;
  max-width: 100%; 
  max-height: 100%; 
}

.top-block,
.neighboring_left-block,
.neighboring_right-block {
  width: 250px;
  height: 200px;
  text-align: center;
  border: 2px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 20px;
  position: absolute;
}

.top-block {
  background-color: green;
  right: 600px;
  bottom: 200px;
}

.neighboring_left-block {
  background-color: blue;
  bottom: 150px;
  left: 436px;
}

.neighboring_right-block {
  background-color: rgb(147, 136, 158);
  right: 352px;
  bottom: 80px;
}
