html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);

}

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 0;
  outline: none;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flex-form {
  z-index: 1;
  position: absolute;
  top: 50px;
  display: flex;
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
}

input[type="search"] {
  flex-basis: 500px;
}

input[type="select"] {

}

video {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 5px);
}

input[type=submit] {
  background: mediumvioletred;
}
